/* DIG33 Internet Project Development */

/*
*********************************************************************
z-index ranges:
*********************************************************************
0 - 8   = behind game board
9       = game board (grid background)
10 - 50 = rows from bottom to top of grid on game board (21w x 41h)
51 - 52 = #transparency (with loading circle)
53 - 60 = game menus
61      = #hide
*********************************************************************
*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(255,255,255);
}

#hide {
    position: fixed;
    z-index: 61;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(255,255,255);
}

#transparency {
    position: fixed;
    z-index: 51;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-image: radial-gradient(rgb(0,0,0), rgb(128,128,128));
    opacity: 0.5;
    text-align: center;
}

footer p {
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 25px;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.loader {
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: 10px solid rgb(230,230,230);
    border-radius: 50%;
    border-top: 10px solid rgb(64,64,64);;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}