/* DIG33 Internet Project Development */

/*
*********************************************************************
z-index ranges:
*********************************************************************
1 - 4   = behind game board
5 - 8   = game board
9 - 49  = rows from bottom to top of grid on game board (21w x 41h)
50      = game controls
51 - 52 = #transparency (with loading circle)
53 - 60 = game menus
61      = #hide
*********************************************************************
*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(128,128,128);
}

#hide {
    position: fixed;
    z-index: 61;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(255,255,255);
}

#transparency {
    position: fixed;
    z-index: 51;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-image: radial-gradient(rgb(0,0,0), rgb(128,128,128));
    opacity: 0.5;
    text-align: center;
}

footer p {
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 2vmin;
    font-family: 'Share Tech Mono', monospace;
    line-height: 3vmin;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.loader {
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: 10px solid rgb(255,255,255,1);
    border-radius: 50%;
    border-top: 10px solid rgb(0,0,0,0);
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.menu-box {
    z-index: 53;
    width: 75vmin;
    height: 75vmin;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-image: linear-gradient(rgb(175,175,255), rgb(255,175,175));
    border: 1vmin solid black;
    text-align: center;
}

.mute {
    position: absolute;
    padding:5px;
    top: 0px;
    right: 0px;     
}

.mute:hover{
    cursor:pointer;
}

.menu-button {
    padding: 1vmin;
    margin: 1vmin;
    border: 0.5vmin solid black;
    text-align: center;
    width: 37.5vmin;
    font-size: 4vmin;
    font-family: 'Share Tech Mono', monospace;
    cursor: pointer;
    user-select: none;
    outline: none;
    background-color: rgb(225,225,225);
    color: black;
}

.menu-button:hover, .menu-button:active {
    background-color: black;
    color: white;
}

#menu-title {
    font-size: 12vmin;
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    font-weight: bold;
    margin-top: 7vmin;
    margin-bottom: 3vmin;
    color: white;
    text-shadow: -0.3vmin 0 black, 0 0.3vmin black,
        0.3vmin 0 black, 0 -0.3vmin black;
}

#login-email, #login-password, #register-email,
#register-password, #register-username {
    display: inline-block;
    width: 50vmin;
    padding: 1vmin;
    margin: 1vmin;
    border: 0.5vmin solid black;
    font-size: 4vmin;
    font-family: 'Share Tech Mono', monospace;
    outline: none;
}

#disclaimer-text, #quit-text, #exit-text {
    display: inline-block;
    width: 50vmin;
    padding: 1vmin;
    margin-top: 20vmin;
    margin-bottom: 1vmin;
    font-size: 4vmin;
    font-family: 'Share Tech Mono', monospace;
    text-align: justify;
    user-select: none;
}

#login-text, #register-text {
    display: inline-block;
    width: 50vmin;
    padding: 1vmin;
    margin-top: 4vmin;
    margin-bottom: 1vmin;
    font-size: 4vmin;
    font-family: 'Share Tech Mono', monospace;
    text-align: justify;
    user-select: none;
}

#scores-title {
    font-size: 7vmin;
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    margin-top: 3vmin;
    user-select: none;
}

#scores-text {
    display: inline-block;
    width: 67vmin;
    padding: 1vmin;
    margin-top: 1vmin;
    margin-bottom: 1vmin;
    font-size: 2vmin;
    font-family: 'Share Tech Mono', monospace;
    text-align: left;
    border: 0.5vmin solid black;
    background-color: white;
}

#scores-text p {
    padding-left: 1vmin;
    padding-right: 1vmin;
    margin: 1vmin;
}

#game {
    z-index: 5;
    width: 90vmin;
    height: 90vmin;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgb(128,128,128);
    text-align: right;
    user-select: none;
}

#game-background {
    z-index: 6;
    width: 90vmin;
    height: 90vmin;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    pointer-events: none;
}

#game-controls {
    z-index: 50;
    width: 90vmin;
    height: auto;
    position: absolute;
    margin: 0;
    top: 0;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: rgb(0,0,0,0.2);
}

#game-cell {
    z-index: 49;
    width: 9vmin;
    height: 4.5vmin;
    position: absolute;
    margin: 0;
}

.game-sprite {
    z-index: 9;
    width: 9vmin;
    height: 9vmin;
    position: absolute;
    margin: 0;
}

#game-timer {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    width: 10vmin;
    font-size: 4vmin;
    font-weight: bold;
    padding: 1.5vmin;
    margin: 1vmin;
    user-select: none;
    color: white;
    text-shadow: -0.2vmin 0 black, 0 0.2vmin black,
        0.2vmin 0 black, 0 -0.2vmin black;
}

#game-score {
    position: absolute;
    top: 0;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    width: 10vmin;
    font-size: 4vmin;
    font-weight: bold;
    padding: 1.5vmin;
    margin: 1vmin;
    user-select: none;
    color: white;
    text-shadow: -0.2vmin 0 black, 0 0.2vmin black,
        0.2vmin 0 black, 0 -0.2vmin black;
}

.menu-button-small {
    padding: 1vmin;
    margin: 1vmin;
    background-color: rgb(225,225,225);
    border: 0.5vmin solid black;
    text-align: center;
    width: 20vmin;
    font-size: 4vmin;
    font-family: 'Share Tech Mono', monospace;
    cursor: pointer;
    user-select: none;
    outline: none;
}

.menu-button-small:hover, .menu-button-small:active {
    background-color: black;
    color: white;
}

.bubble {
    z-index: 50;
    width: 4.5vmin;
    height: 4.5vmin;
    line-height: 4.5vmin;
    position: absolute;
    margin: 0;
    background-color: white;
    color: black;
    border: 0.5vmin solid black;
    border-radius: 2vmin;
    text-align: center;
    font-size: 3vmin;
    font-family: 'Share Tech Mono', monospace;
    font-weight: bold;
    overflow: hidden;
    -webkit-transition: top 2s; /* For Safari 3.1 to 6.0 */
    transition: top 2s;
    animation: bounce 2.5s infinite;
    -webkit-animation: bounce 2.5s infinite;
    -moz-animation: bounce 2.5s infinite;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-2vmin); }
}
@-webkit-keyframes bounce {
    0%, 100% { -webkit-transform: translateY(0); } 
    50% { -webkit-transform: translateY(-2vmin); }
}
@-moz-keyframes bounce {
    0%, 100% { -moz-transform: translateY(0); }
    50% { -moz-transform: translateY(-2vmin); }
}

#bubble-large {
    z-index: 50;
    width: 50vmin;
    height: 20vmin;
    position: absolute;
    margin: 1vmin;
    bottom: 0;
    left: 0;
    background-color: white;
    border: 0.5vmin solid black;
    border-radius: 2vmin;
    user-select: none;
    padding: 1vmin;
}

#bubble-large-image {
    width: 9vmin;
    height: 9vmin;
    position: absolute;
    margin: 2vmin;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

#bubble-large-help-image {
    width: 9vmin;
    height: 9vmin;
    position: absolute;
    margin: 2vmin;
    top: 0;
    left: 0;
    background: url(graphics/tip.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#bubble-large-text {
    width: 35vmin;
    height: 8.5vmin;
    position: absolute;
    margin: 2vmin;
    top: 0;
    right: 0;
    font-size: 2vmin;
    font-family: 'Share Tech Mono', monospace;
    text-align: left;
    overflow: hidden;
}

.bubble-button {
    position: absolute;
    padding: 1vmin;
    margin: 1vmin;
    background-color: rgb(225,225,225);
    border: 0.5vmin solid black;
    text-align: center;
    width: 17vmin;
    font-size: 3vmin;
    font-family: 'Share Tech Mono', monospace;
    cursor: pointer;
    user-select: none;
    outline: none;
}

.bubble-button:hover, .bubble-button:active {
    background-color: black;
    color: white;
}

#bubble-large-next {
    bottom: 1vmin;
    right: 1vmin;
}

#bubble-large-ok {
    bottom: 1vmin;
    right: 1vmin;
}

#bubble-large-admit {
    bottom: 1vmin;
    right: 1vmin;
}

#bubble-large-serve {
    bottom: 1vmin;
    right: 1vmin;
}

#bubble-large-deny {
    bottom: 1vmin;
    left: 1vmin;
}

#bubble-large-bounce {
    bottom: 1vmin;
    left: 1vmin;
}

#bubble-large-close {
    bottom: 1vmin;
    left: 1vmin;
}

/*
*********************************************************************
game objects and sprites
*********************************************************************
*/

.wall-object {
    z-index: 9;
    width: 9vmin;
    height: 9vmin;
    position: absolute;
    margin: 0;
    background: url(graphics/cube-wall.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wallleft-object {
    z-index: 9;
    width: 9vmin;
    height: 9vmin;
    position: absolute;
    margin: 0;
    background: url(graphics/cube-wall_left.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wallright-object {
    z-index: 9;
    width: 9vmin;
    height: 9vmin;
    position: absolute;
    margin: 0;
    background: url(graphics/cube-wall_right.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wallcorner-object {
    z-index: 9;
    width: 9vmin;
    height: 9vmin;
    position: absolute;
    margin: 0;
    background: url(graphics/cube-wall_outer_corner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wallcornerright-object {
    z-index: 9;
    width: 9vmin;
    height: 9vmin;
    position: absolute;
    margin: 0;
    background: url(graphics/cube-wall_inner_corner_right.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wallhalfright-object {
    z-index: 9;
    width: 9vmin;
    height: 9vmin;
    position: absolute;
    margin: 0;
    background: url(graphics/cube-wall_half_right.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wallentrance-object {
    z-index: 9;
    width: 27vmin;
    height: 22.5vmin;
    position: absolute;
    margin: 0;
    background: url(graphics/cube-wall_entrance_purple.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bar-object {
    z-index: 9;
    width: 9vmin;
    height: 9vmin;
    position: absolute;
    margin: 0;
    background: url(graphics/cube-bar.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.barlefttop-object {
    z-index: 9;
    width: 9vmin;
    height: 9vmin;
    position: absolute;
    margin: 0;
    background: url(graphics/cube-bar_left_top.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bartap-object {
    z-index: 9;
    width: 9vmin;
    height: 9vmin;
    position: absolute;
    margin: 0;
    background: url(graphics/cube-bartap.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.mixdesk-object {
    z-index: 9;
    width: 9vmin;
    height: 9vmin;
    position: absolute;
    margin: 0;
    background: url(graphics/cube-mixdesk.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#dj01 {
    background: url(graphics/sprite-dj.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#bartender01 {
    background: url(graphics/sprite-bartender.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#bouncer01 {
    background: url(graphics/sprite-bouncer-bald.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#bouncer02 {
    background: url(graphics/sprite-bouncer-brown-hair.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#randy01 {
    background: url(graphics/sprite-randy-marsh.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#john02 {
    background: url(graphics/sprite-black-shirt.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#peter03 {
    background: url(graphics/sprite-black-shirt-vicar.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#paige04 {
    background: url(graphics/sprite-blue-dress-girl.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#dwight05 {
    background: url(graphics/sprite-black-shirt-beard.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#shannon06 {
    background: url(graphics/sprite-green-dress-girl.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#roy07 {
    background: url(graphics/sprite-green-shirt-blonde-guy.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#tony08 {
    background: url(graphics/sprite-naked-guy.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#maria09 {
    background: url(graphics/sprite-navy-dress-girl.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#kelly10 {
    background: url(graphics/sprite-navy-dress-girl-ginger.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#dolly11 {
    background: url(graphics/sprite-pink-dress-girl.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#colin12 {
    background: url(graphics/sprite-red-shirt-blonde-beard.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#alberto13 {
    background: url(graphics/sprite-red-shirt-blonde-guy.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#cedric14 {
    background: url(graphics/sprite-red-shirt-ginger-beard.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#waldo15 {
    background: url(graphics/sprite-waldo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#zyeasha16 {
    background: url(graphics/sprite-white-dress-girl.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#pierre17 {
    background: url(graphics/sprite-white-shirt-ginger-beard.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#alfred18 {
    background: url(graphics/sprite-black-shirt-green-hair.png);
    background-repeat: no-repeat;
    background-size: cover;   
}

#odlaw19 {
    background: url(graphics/sprite-odlaw.png);
    background-repeat: no-repeat;
    background-size: cover;   
}

#jennifer20 {
    background: url(graphics/sprite-yellow-dress-girl.png);
    background-repeat: no-repeat;
    background-size: cover;   
}

#olga21 {
    background: url(graphics/sprite-black-dress-blonde-hair.png);
    background-repeat: no-repeat;
    background-size: cover;   
}

#billy22 {
    background: url(graphics/sprite-black-dress-blue-hair.png);
    background-repeat: no-repeat;
    background-size: cover;   
}

#omar23 {
    background: url(graphics/sprite-pink-shirt-blonde-beard.png);
    background-repeat: no-repeat;
    background-size: cover;   
}

#mike24 {
    background: url(graphics/sprite-red-shirt-brown-hair.png);
    background-repeat: no-repeat;
    background-size: cover;   
}

#lance25 {
    background: url(graphics/sprite-lime-shirt-ginger-beard.png);
    background-repeat: no-repeat;
    background-size: cover;   
}

#julian26 {
    background: url(graphics/sprite-black-shirt-beard.png);
    background-repeat: no-repeat;
    background-size: cover;   
}

#amanda27 {
    background: url(graphics/sprite-pink-dress-girl-ginger.png);
    background-repeat: no-repeat;
    background-size: cover;   
}

#heather28 {
    background: url(graphics/sprite-purple-dress-girl-ginger.png);
    background-repeat: no-repeat;
    background-size: cover;   
}

#ernesto29 {
    background: url(graphics/sprite-brown-shirt-brown-hair.png);
    background-repeat: no-repeat;
    background-size: cover;   
}

#kyle30{
    background: url(graphics/sprite-black-shirt-brown-hair.png);
    background-repeat: no-repeat;
    background-size: cover;   
}